@model IEnumerable<ConsumeWebApi.Models.Book>
@{
    ViewData["Title"]="Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>List of all Books</h1>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(Model=>Model.id)</th>
            <th> @Html.DisplayNameFor(Model=>Model.name)</th>
            <th> @Html.DisplayNameFor(Model=>Model.author) </th>
            <th> @Html.DisplayNameFor(Model=>Model.edition)</th>
            <th> @Html.DisplayNameFor(Model=>Model.price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem=>item.id)</td>
                <td>@Html.DisplayFor(ModelItem=>item.name)</td>
                <td>@Html.DisplayFor(ModelItem=>item.author)</td>
                <td>@Html.DisplayFor(ModelItem=>item.edition)</td>
                <td>@Html.DisplayFor(ModelItem=>item.price)</td>
          
            <td>
                
            @Html.ActionLink("Update", "UpdateBook", new { id=item.id }) |
            
            @Html.ActionLink("Delete", "Delete", new { id = item.id}) |
            
           <a asp-controller="User" asp-action="CreateRequest" asp-route-userId="@User.Identity.Name" asp-route-assetId="@item.id" asp-route-assetType="@item.assetType"><p>Request</p></a> @* @Html.ActionLink("Request", "CreateRequest","User", new { assetId = item.id}) *@
        </td>
        </tr>
        <tr>
            <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
        </tr>
        }
        <tfoot></tfoot>
    </tbody>
</table> 

