@model IEnumerable<AssetManagement.Models.Asset>

<h1>List of all Softwares</h1>
<table class="table">
    <thead>
        <tr>
            <th> Asset Id</th>
            <th> Name</th>
            <th> Provider </th>
            <th> Version</th>
            <th> Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var software in Asset.SoftwareList)
        {
            <tr>
                <td>@software.id</td>
                <td>@software.name</td>
                <td>@software.provider</td>
                <td>@software.version</td>
                <td>@software.price</td>
            </tr>
        }
        <tfoot></tfoot>
    </tbody>
</table> 
