@model IEnumerable<ConsumeWebApi.Models.Request>
@{
    ViewBag.Title = "All request";
}
<body >
</body>

<h1>@ViewBag.Message</h1>
<div class="row" style="color: black;">
    <div class="col-sm-5 text-left" >
        <a style="color: black;"><u style="color: black;">@Html.ActionLink("Home","Index","Home")</u></a>
    </div>  
    <div class="col-sm-7 text-left">
        <h3 style="color:black">Request Details</h3><br><br>
    </div>
</div>

<div>
    <table  class="table table-dark">
        <thead style="background-color: darkblue; color:white;">
            <th>Request Id</th>
            <th>Asset Id</th>
            <th>Asset Type</th>
            <th>User Name</th>
            <th>Respond</th>
            <th>Status</th>
        </thead>
        <tbody>
            @foreach (var request in Model)
            { 
                <tr>
                    <td>@request.requestId</td>
                    <td>@request.assetId</td>
                    <td>@request.assetType</td>
                    <td>@request.userId</td>
                    <td>
                        <a asp-controller="Admin" asp-action="RequestAction" asp-route-status="Assigned" asp-route-requestid="@request.requestId">Assign</a>
                        <br><a asp-controller="Admin" asp-action="RequestAction" asp-route-status="Unassigned" asp-route-requestid = "@request.requestId">Unassign</a>
                    </td>
                    <td>@request.requestStatus</td>
                </tr>        
            } 

        </tbody>
    </table>

</div>